.indicatorCard {
  border-radius: 10px !important;
  background-color: #ffffff !important;
  margin: 10px !important;
  margin-right: 30px !important;
  margin-bottom: 30px !important;
  position: relative !important;
}

.ant-card.indicatorCard > .ant-card-body{
  padding: 10px !important;
}
