.impactCard {
  border-radius: 10px !important;
  background-color: #f0f2f5 !important;
  margin: 10px !important;
  margin-right: 30px !important;
  margin-bottom: 30px !important;
  padding: 0px !important;
  border-radius: 7px !important;
}


.impactTab{
  margin-right: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px){
  .impactTab{
    margin-right: 0px !important;
    margin-bottom: 10px !important;
  }
}