
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}




.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
  border-radius: 10px;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.action {
  color: rgba(255, 255, 255, 0.85);
}

.account .avatar {
  margin-right: 8px;
  vertical-align: top;
  background: rgba(255, 255, 255, 0.85);
}

.ant-card-meta-title{
  margin: 0px!important;
}

.ant-card-meta-description{
  color:"#53D1BE" !important;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

.my-app {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-height: 80px;
  box-sizing: border-box;
  padding: 30px;
}

@keyframes k-loading-animation  {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.k-i-loading.k-example-loading {
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(144,152,165);
}

.k-i-loading.k-example-loading::before,
.k-i-loading.k-example-loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  content: "";
  box-sizing: inherit;
  border-radius: 50%;
  border-width: .05em;
  border-style: solid;
  border-color: currentColor;
  border-top-color: transparent;
  border-bottom-color: transparent;
  background-color: transparent;
}
.k-icon.k-i-loading.k-example-loading::before,
.k-icon.k-i-loading::after {
  content: "";
}

.k-i-loading.k-example-loading::before {
  margin-top: -0.5em;
  margin-left: -0.5em;
  width: 1em;
  height: 1em;
  animation: k-loading-animation .7s linear infinite;
}

.k-i-loading.k-example-loading::after {
  margin-top: -0.25em;
  margin-left: -0.25em;
  width: .5em;
  height: .5em;
  animation: k-loading-animation reverse 1.4s linear infinite;
}

.example-wrapper { 
  min-height: 280px; 
  align-content: flex-start; 
}
.example-wrapper p, .example-col p {
  margin: 20px 0 10px; 
}
.example-wrapper p:first-child, .example-col p:first-child { 
  margin-top: 0; 
}
.example-col { 
  display: inline-block; 
  vertical-align: top; 
  padding-right: 20px; 
  padding-bottom: 20px;
}
.example-config {
  margin: 0 0 20px; 
  padding: 20px; 
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.08); 
}
.event-log { 
  margin: 0; 
  padding: 0; 
  max-height: 100px; 
  overflow-y: auto; 
  list-style-type: none; 
  border: 1px solid rgba(0,0,0,.08); 
  background-color: white; 
}
.event-log li {
  margin: 0; 
  padding: .3em; 
  line-height: 1.2em; 
  border-bottom: 1px solid rgba(0,0,0,.08); 
}
.event-log li:last-child { 
  margin-bottom: -1px;
}




ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}