.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
  border-radius: 10px;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.action {
  color: rgba(255, 255, 255, 0.85);
}

.account .avatar {
  margin-right: 8px;
  vertical-align: top;
  background: rgba(255, 255, 255, 0.85);
}

.ant-card-meta-title{
  margin: 0px!important;
}

.ant-card-meta-description{
  color:"#53D1BE" !important;
}